# Hugging Face cache directory
HF_HOME=/mnt/evafs/groups/<groupName>/<userName>/.cache/huggingface

# Results directory
RESULTS_DIR=/mnt/evafs/groups/<groupName>/<userName>/results

# Cache directory
CACHE_DIR=/mnt/evafs/groups/<groupName>/<userName>/.cache
